# TASK 1 : TITANIC SURVIVAL PREDICTION

In [2]:
#import the packages
import pandas as pd
from sklearn import preprocessing
from sklearn.model_selection import train_test_split
from sklearn.naive_bayes import GaussianNB
from sklearn.metrics import accuracy_score

In [3]:
#read csv file
df=pd.read_csv("D:\\gan\\internship\\task_1_titanic\\tested.csv")

In [4]:
df

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,892,0,3,"Kelly, Mr. James",male,34.5,0,0,330911,7.8292,NaN,Q
1,893,1,3,"Wilkes, Mrs. James (Ellen Needs)",female,47.0,1,0,363272,7.0000,NaN,S
2,894,0,2,"Myles, Mr. Thomas Francis",male,62.0,0,0,240276,9.6875,NaN,Q
3,895,0,3,"Wirz, Mr. Albert",male,27.0,0,0,315154,8.6625,NaN,S
4,896,1,3,"Hirvonen, Mrs. Alexander (Helga E Lindqvist)",female,22.0,1,1,3101298,12.2875,NaN,S
...,...,...,...,...,...,...,...,...,...,...,...,...
413,1305,0,3,"Spector, Mr. Woolf",male,NaN,0,0,A.5. 3236,8.0500,NaN,S
414,1306,1,1,"Oliva y Ocana, Dona. Fermina",female,39.0,0,0,PC 17758,108.9000,C105,C
415,1307,0,3,"Saether, Mr. Simon Sivertsen",male,38.5,0,0,SOTON/O.Q. 3101262,7.2500,NaN,S
416,1308,0,3,"Ware, Mr. Frederick",male,NaN,0,0,359309,8.0500,NaN,S
417,1309,0,3,"Peter, Master. Michael J",male,NaN,1,1,2668,22.3583,NaN,C

In [5]:
df.columns

Index(['PassengerId', 'Survived', 'Pclass', 'Name', 'Sex', 'Age', 'SibSp',
       'Parch', 'Ticket', 'Fare', 'Cabin', 'Embarked'],
      dtype='object')

In [6]:
#checking null values
df.isnull().sum()

PassengerId      0
Survived         0
Pclass           0
Name             0
Sex              0
Age             86
SibSp            0
Parch            0
Ticket           0
Fare             1
Cabin          327
Embarked         0
dtype: int64

In [7]:
df=df.drop(['Age', 'Cabin'], axis=1)

In [8]:
df = df.dropna()

In [9]:
df.isnull().sum()

PassengerId    0
Survived       0
Pclass         0
Name           0
Sex            0
SibSp          0
Parch          0
Ticket         0
Fare           0
Embarked       0
dtype: int64

In [10]:
li=['Pclass','Sex', 'SibSp','Parch','Fare','Embarked']

In [11]:
#target variable
X=df['Survived']

In [12]:
#predictor
Y=df[li]

In [13]:
X

0      0
1      1
2      0
3      0
4      1
      ..
413    0
414    1
415    0
416    0
417    0
Name: Survived, Length: 417, dtype: int64

In [14]:
Y

     Pclass     Sex  SibSp  Parch      Fare Embarked
0         3    male      0      0    7.8292        Q
1         3  female      1      0    7.0000        S
2         2    male      0      0    9.6875        Q
3         3    male      0      0    8.6625        S
4         3  female      1      1   12.2875        S
..      ...     ...    ...    ...       ...      ...
413       3    male      0      0    8.0500        S
414       1  female      0      0  108.9000        C
415       3    male      0      0    7.2500        S
416       3    male      0      0    8.0500        S
417       3    male      1      1   22.3583        C

[417 rows x 6 columns]

In [15]:
a=['Sex','Embarked']

In [16]:
label_encoder = preprocessing.LabelEncoder()

In [17]:
#label encoding
for i in a:
    Y[i]=label_encoder.fit_transform(Y[i])

C:\Users\acer\AppData\Local\Temp\ipykernel_7952\2033469247.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  Y[i]=label_encoder.fit_transform(Y[i])

In [18]:
Y

     Pclass  Sex  SibSp  Parch      Fare  Embarked
0         3    1      0      0    7.8292         1
1         3    0      1      0    7.0000         2
2         2    1      0      0    9.6875         1
3         3    1      0      0    8.6625         2
4         3    0      1      1   12.2875         2
..      ...  ...    ...    ...       ...       ...
413       3    1      0      0    8.0500         2
414       1    0      0      0  108.9000         0
415       3    1      0      0    7.2500         2
416       3    1      0      0    8.0500         2
417       3    1      1      1   22.3583         0

[417 rows x 6 columns]

In [19]:
#spliting dataset
X_train, X_test, Y_train, Y_test = train_test_split(X, Y, test_size=0.3, random_state=42)

In [20]:
X_train

75     0
131    0
266    0
269    0
194    0
      ..
71     0
106    0
271    0
349    1
102    0
Name: Survived, Length: 291, dtype: int64

In [21]:
Y_train

     Pclass  Sex  SibSp  Parch      Fare  Embarked
75        1    1      0      0  211.5000         0
131       1    1      0      0   28.5000         0
266       1    1      0      0    0.0000         2
269       3    1      0      0    8.6625         2
194       2    1      0      2   32.5000         2
..      ...  ...    ...    ...       ...       ...
71        3    1      0      0    7.8958         2
106       3    1      0      0    7.8208         1
271       3    1      0      0    7.7500         1
349       2    0      0      0   21.0000         2
102       3    1      0      0    7.7500         1

[291 rows x 6 columns]

In [22]:
#model building
model = GaussianNB()

In [23]:
#model training
model.fit(Y_train,X_train)

GaussianNB()

In [24]:
#model predicting
predictor=model.predict(Y_test)

In [25]:
predictor

array([1, 0, 1, 0, 1, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 1, 1, 1, 0, 0,
       0, 0, 1, 1, 0, 1, 0, 0, 0, 1, 0, 0, 1, 0, 0, 0, 1, 1, 0, 0, 0, 1,
       1, 0, 1, 0, 1, 0, 0, 0, 1, 0, 1, 1, 1, 0, 0, 0, 0, 0, 1, 0, 0, 1,
       0, 1, 1, 1, 1, 1, 0, 0, 1, 0, 1, 0, 0, 1, 0, 1, 1, 0, 0, 0, 0, 0,
       0, 1, 0, 0, 0, 1, 1, 0, 1, 0, 0, 0, 1, 0, 0, 1, 0, 1, 0, 0, 1, 1,
       0, 0, 1, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 1, 1], dtype=int64)

In [26]:
X_test

153    1
398    0
412    1
94     0
70     1
      ..
390    0
118    0
341    0
114    1
240    1
Name: Survived, Length: 126, dtype: int64

In [27]:
#accuracy checking
accuracy_score(X_test, predictor)

1.0